<%- include('header') %>
<<<<<<< HEAD
<form method="post" action="/addCourse/<%= course.VU_IDENTIFIKATOR %>">


=======
<form method="post" action="/addCourse/<%= vu_id %>/<%= tip_ust %>">
    
   
>>>>>>> 895b579e2fed3942da930eb730996ff0ceb08ebe
    <div class="form-group">
        <label for="courseCode">Course Code</label>
        <input type="text" class="form-control" id="courseCode" name="courseCode">
    </div>
    <div class="form-group">
        <label for="coursVersion">Course Version</label>
        <input type="text" class="form-control" id="coursVersion" name="coursVersion">
    </div>
    <div class="form-group">
        <label for="coursName">Course Name</label>
        <input type="text" class="form-control" id="coursName" name="coursName">
    </div>
<<<<<<< HEAD
    <div class="form-group">
        <label for="exampleInputPassword1">Employee id</label>
        <input type="text" class="form-control" id="info_VU_ID" name="info_id" value="<%= course.VU_IDENTIFIKATOR %>">
    </div>
    <div class="form-group">
        <label for="intitution_type">Institution type</label>
        <select class="custom-select" id="intitution_type" name="intitution_type" required>
            <option selected disabled value="">Select Institution...</option>
            <% types.forEach(function(type, index) { %>
            <option value="<%= type.TIP_UST %>"><%= type.TIP_NAZIV %></option>
            <% }); %>
        </select>
    </div>

=======
    
>>>>>>> 895b579e2fed3942da930eb730996ff0ceb08ebe
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('footer') %>