<%- include('header') %>

    <form method="post" action="/addInstitution">
        <div class="form-group">
            <label for="stateId">State</label>
            <select class="custom-select" id="stateId" name="stateId" required>
                <option selected disabled value="<%= state.DR_IDENTIFIKATOR %>"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="institutionName">Institution name</label>
            <input type="text" class="form-control" id="institutionName" name="institutionName">
        </div>
        <div class="form-group">
            <label for="institutionId">Institution ID</label>
            <input type="text" placeholder='2' class="form-control" id="institutionId" name="institutionId">
        </div>
        <div class="form-group">
            <label for="institutionType">Institution type</label>
            <select class="custom-select" id="institutionType" name="institutionType" required>
                <option selected disabled value="">Select institution type...</option>
                <% types.forEach(function(type, index) { %>
                <option value="<%= type.TIP_UST %>"><%= type.TIP_NAZIV %></option>
                <% }); %>
            </select>
            <label for="ownershipType">Ownership type</label>
            <select class="custom-select" id="ownershipType" name="ownershipType" required>
                <option selected disabled value="">Select ownership type...</option>
                <% ownerships.forEach(function(own, index) { %>
                <option value="<%= own.VV_OZNAKA %>"><%= own.VV_NAZIV %></option>
                <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<%- include('footer') %>