<%- include('header') %>

<% if (courses.length === 0) { %>
<div class="alert alert-info" role="alert">
    <p>There are no courses to show, go back <a href="/getAllStates%>">here</a> to the states page.
    </p>
</div>
<% } else { %>
<br><br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Institution type</th>
            <th scope="col">Institution ID</th>
            <th scope="col">Course Code</th>
            <th scope="col">Course Version</th>
            <th scope="col">Course Name</th>
        </tr>
    </thead>
    <tbody>
        <% courses.forEach(function(course, index) { %>
        <tr>
            <td><strong><%= index+1 %></strong></td>
            <td><%= course.TIP_UST %></td>
            <td><%= course.VU_IDENTIFIKATOR %></td>
            <td><%= course.NP_PREDMET %></td>
            <td><%= course.NP_VERZIJA %></td>
            <td><%= course.NP_NAZIV_PREDMETA %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } %>

<%- include('footer') %>