<%- include('header') %>

<% if (contracts.length === 0) { %>
<div class="alert alert-info" role="alert">
    <p>There are no contract history to show, click <a
            href="/addContractHistory/<%= first_object.type %>/<%= first_object.emp_vu_id %>/<%= first_object.emp_id %>">here</a>
        to add.</p>
</div>
<% } else { %>

<br>
<a type="button" class="btn btn-primary"
    href="/addContractHistory/<%= contract.TIP_UST %>/<%= contract.EMP_VU_IDENTIFIKATOR %>/<%= contract.ZAP_REDNI_BROJ %>">Add
    Contract</a>
<a type="button" class="btn btn-primary" onclick="deleteContractHistory()" href="#">Delete
    Contract</a>
<a type="button" class="btn btn-primary" style="background-color:mediumblue"
    href="/generateContractHistoryDocument">Insert
    Contract
    Document</a>
<a type="button" class="btn btn-primary" style="background-color:mediumblue" href="/contractHistoryDocuments">View
    Contract
    Documents</a>
<br><br>

<div> Selected contract history: <h5 id="selectedContract"></h5> </div>

<table class="table" id="dataTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Institution Type</th>
            <th scope="col">Institution ID</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Type of Contract</th>
            <th scope="col">Contract Year</th>
            <th scope="col">Contract ID</th>
            <!-- <th scope="col">Delete</th> -->
        </tr>
    </thead>
    <tbody>
        <% contracts.forEach(function(contract, index) { %>
        <tr>
            <td><strong><%= index+1 %></strong></td>
            <td><%= contract.TIP_UST %></td>
            <td><%= contract.EMP_VU_IDENTIFIKATOR %></td>
            <td><%= contract.ZAP_REDNI_BROJ %></td>
            <td><%= contract.VD_OZNAKA %></td>
            <td><%= contract.UG_GODINA %></td>
            <td><%= contract.UG_BROJ_UGOVORA %></td>
            <!-- <td><a type="button" class="btn btn-danger" href="/deleteEmployee/<%= contract.ZAP_REDNI_BROJ %>"
                    onClick="return confirm('This will delete the history contract of this employee, are you sure you want proceed!');">Delete</a>
            </td> -->
        </tr>
        <% }); %>
    </tbody>
</table>

<script>
    var id = null;

    run();
    document.getElementById('dataTable').addEventListener("click", run, false);
    document.getElementById('selectedContract').innerHTML = "None!";

    function run() {
        var t = document.getElementById('dataTable');
        t.onclick = function(event) {
            event = event;
            var target = event.target;
            while (target && target.nodeName != 'TR') {
                target = target.parentElement; 
            }

            var cells = target.cells;

            if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                return;
            }

            if (id == cells[6].innerHTML) {
                id = null;
                document.getElementById('selectedContract').innerHTML = "None!";
            } else {
                id = cells[6].innerHTML;
                document.getElementById('selectedContract').innerHTML = "ID " + cells[6].innerHTML;
            }
        }
    }

    $("#dataTable tr").click(function(){
        $(this).siblings().removeClass('active');
        $(this).toggleClass('active')
    });
    
    function doccumentByContract() {
        link = "/getDocumentOfEmployementByContractId/" + window.id;
        if (window.id) {
            window.location = link;
        } else {
            return false;
            // window.location = "/getContractHistoryByEmployeeId/<%= contract.TIP_UST %>/<%= contract.EMP_VU_IDENTIFIKATOR %>/<%= contract.ZAP_REDNI_BROJ %>";
        }
    }
    function deleteContractHistory() {
        link = "/deleteContractById/" + window.id;
        if (window.id) {
            confirm('This will delete the contract history of a given employee. Are you sure you want proceed?');
            window.location = link;
        } else {
            // window.location = "/getContractHistoryByEmployeeId/<%= contract.TIP_UST %>/<%= contract.EMP_VU_IDENTIFIKATOR %>/<%= contract.ZAP_REDNI_BROJ %>";
            return false;
        }
    }
</script>

<% } %>
<%- include('footer') %>