<%- include('header') %>

<% if (courses.length === 0) { %>
<div class="alert alert-info" role="alert">
    <p>There are no courses to show, click <a href="/addCourse/<%= vu_id %>/<%= tip_ust %>">here</a> to add an course.
    </p>
</div>
<% } else { %>

<script>
    function courseByInstitution() {
        var id = prompt("Please enter Course name:");
        link = "/getAllCourses/" + id + "/<%= course.TIP_UST %>";
        if (id) {
            window.location = link;
        } else {
            return false;
        }
    }
    function editCourse() {
        var id = prompt("Please enter Employee Number:");
        link = "/editCourse/<%= course.TIP_UST %>/<%= course.VU_IDENTIFIKATOR %>/<%= course.NP_PREDMET %>/<%= course.NP_VERZIJA %>" + id;
        if (id) {
            window.location = link;
        } else {
            return false;
        }
    }
    function deleteCourse() {
        var id = prompt("Please enter Employee Number:");
        link = "/deleteCourse/" + id;
        if (id) {
            confirm('This will delete the entire institution. Are you sure you want proceed?');
            window.location = link;
        } else {
            return false;
        }
    }
</script>

<br>
<a type="button" class="btn btn-primary" href="/addCourse/<%= vu_id %>/<%= tip_ust %>">Add Course</a>
<a type="button" class="btn btn-primary" onclick="editCourse()" href="#">Edit Course</a>
<a type="button" class="btn btn-primary" onclick="deleteCourse()" href="#">Delete Course</a>
<a type="button" class="btn btn-primary" href="/coursesDocuments">View Course Documents</a>
<a type="button" class="btn btn-primary" href="/generateCoursesDocument">Generate Course Documents</a>
<br><br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Institution type</th>
            <th scope="col">Institution ID</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Version</th>
            <th scope="col">Course Full Name</th>
        </tr>
    </thead>
    <tbody>
        <% courses.forEach(function(course, index) { %>
        <tr>
            <td><strong><%= index+1 %></strong></td>
            <td><%= course.TIP_UST %></td>
            <td><%= course.VU_IDENTIFIKATOR %></td>
            <td><%= course.NP_PREDMET %></td>
            <td><%= course.NP_VERZIJA %></td>
            <td><%= course.NP_NAZIV_PREDMETA %></td>
            <!-- <td><a type="button" class="btn btn-warning"
                    href="/editCourse/<%= course.TIP_UST %>/<%= course.VU_IDENTIFIKATOR %>/<%= course.NP_PREDMET %>/<%= course.NP_VERZIJA %>">Edit</a>
            </td> 
            <td><a type="button" class="btn btn-danger" href="/deleteCourse/<%= course.NP_PREDMET%>"
                    onClick="return confirm('This will delete all cities of this state, are you sure you want proceed!');">Delete</a>
            </td> -->
        </tr>
        <% }); %>
    </tbody>
</table>
<% } %>

<%- include('footer') %>