<%- include('header') %>

<% if (documents.length === 0) { %>
<div class="alert alert-info" role="alert">
    <p>There are no documents to show, click <a href="/addDocuments/<%=  %>">here</a> to add an
        employee.</p>
</div>
<% } else { %>

<script>
    function contractByDocument() {
        var id = prompt("Please enter Contract ID:");
        link = "/getContractsByDocuments/" + id;
        if (id) {
            window.location = link;
        } else {
            return false;
            // window.location = "/getDocumentOfEmployement";
        }
    }
    function editDocument() {
        var id = prompt("Please enter Contract ID:");
        link = "/editDocumentById/<%= document.TIP_UST %>/<%= document.VU_IDENTIFIKATOR %>/<%= document.VD_OZNAKA %>/<%= document.UG_GODINA %>/" + id;
        if (id) {
            window.location = link;
        } else {
            window.location = "/getDocumentOfEmployement";
        }
    }
    function deleteDocument() {
        var id = prompt("Please enter Contract ID:");
        link = "/deleteDocumentById/" + id;
        if (id) {
            confirm('This will delete the entire institution. Are you sure you want proceed?');
            window.location = link;
        } else {
            window.location = "/getDocumentOfEmployement/<%= document.UG_BROJ_UGOVORA %>";
        }
    }
</script>

<br>
<a type="button" class="btn btn-primary"
    href="/addDocumentById/<%= document.TIP_UST %>/<%= document.VU_IDENTIFIKATOR %>/<%= document.VD_OZNAKA %>/<%= document.UG_GODINA %>/<%= document.UG_BROJ_UGOVORA %>">Add
    Document</a>
<a type="button" class="btn btn-primary" onclick="editDocument()" href="#">Edit Document</a>
<a type="button" class="btn btn-primary" onclick="deleteDocument()" href="#">Delete
    Document</a>
<a type="button" class="btn btn-primary" onclick="contractByDocument()" style="background-color:rgb(0, 205, 144)"
    href="#">Get
    contract by Document</a>
<a type="button" class="btn btn-primary" style="background-color:mediumblue" href="/generateDocumentsDocuments">Insert
    Document of Employment
    Document</a>
<a type="button" class="btn btn-primary" style="background-color:mediumblue; margin-top: 10px;
position: relative;
left: 30%;" href="/documentsDocuments">View Documents
    of Document of Employment
    Documents</a>
<br><br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Institution Type</th>
            <th scope="col">Institution ID</th>
            <th scope="col">Contract Type</th>
            <th scope="col">Contract Year</th>
            <th scope="col">Contract ID</th>
            <th scope="col">Datum vazenja od: </th>
            <th scope="col">Datum vazenja do: </th>
            <!-- <th scope="col">Edit</th> -->
            <!-- <th scope="col">View Employee Contract History</th> -->
            <!-- <th scope="col">Delete</th> -->
        </tr>
    </thead>
    <tbody>
        <% documents.forEach(function(document, index) { %>
        <tr>
            <td><strong><%= index+1 %></strong></td>
            <td><%= document.TIP_UST %></td>
            <td><%= document.VU_IDENTIFIKATOR %></td>
            <td><%= document.VD_OZNAKA %></td>
            <td><%= document.UG_GODINA %></td>
            <td><%= document.UG_BROJ_UGOVORA %></td>
            <td><%= moment(document.UG_DATUM).format('DD/MM/YYYY') %></td>
            <td><%= moment(document.UG_DATUM_VAZENJA).format('DD/MM/YYYY') %></td>
            <!-- <td><a type="button" class="btn btn-warning"
                    href="/editEmployee/<%= document.TIP_UST %>/<%= document.VU_IDENTIFIKATOR %>/<%= document.ZAP_REDNI_BROJ %>">Edit
                </a>
            </td> -->
            <!-- <td><a type="button" class="btn btn-warning"
                    href="/getContractHistoryByEmployeeId/<%= document.TIP_UST %>/<%= document.VU_IDENTIFIKATOR %>/<%= document.ZAP_REDNI_BROJ %>">View
                    Employee Contract History
                </a>
            </td> -->
            <!-- <td><a type="button" class="btn btn-danger" href="/deleteEmployee/<%= document.ZAP_REDNI_BROJ %>"
                    onClick="return confirm('This will delete all cities of this state, are you sure you want proceed!');">Delete</a>
            </td> -->
        </tr>
        <% }); %>
    </tbody>
</table>
<% } %>

<%- include('footer') %>