<%- include('header') %>
<table class="table table-hover" style="table-layout: fixed;">
    <thead class="table-dark">
        <tr>
            <th>Document Of Employment ID</th>
            <th>Creation Date</th>
            <th>Number of Documents</th>
            <th>Number of Contracts</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        <% documents.forEach((document, index) => { %>
        <tr>
            <td><%= document._id  %></td>
            <td><%= document.created_at %></td>
            <td><%= document.numberOfDocuments %></td>
            <td><%= document.numberOfContracts %></td>
            <td>
                <label for="document-<%= document._id %>">Show/Hide</label>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="checkbox" id="document-<%= document._id %>" class="d-none">

                <div class="toggleable-states">
                    <%- JSON.stringify(document.documents, undefined, 4); %>
                </div>
            </td>
        </tr>
        <!-- <tr>
            <td colspan="4">
                <input type="checkbox" id="document-<%= document._id %>" class="d-none">

                <div class="toggleable-states">
                    <%- JSON.stringify(document.institutions, undefined, 4); %>
                </div>
            </td>
        </tr> -->
        <% }); %>
    </tbody>
</table>
<%- include('footer')  %>