<%- include('header') %>

<% if (documents.length === 0) { %>
<div class="alert alert-info" role="alert">
    <p>There are no documents to show, click <a href="/addDocuments/<%=  %>">here</a> to add an
        employee.</p>
</div>
<% } else { %>


<br>
<a type="button" class="btn btn-primary"
    href="/addDocumentById/<%= document.TIP_UST %>/<%= document.VU_IDENTIFIKATOR %>/<%= document.VD_OZNAKA %>/<%= document.UG_GODINA %>/<%= document.UG_BROJ_UGOVORA %>">Add
    Document</a>
<a type="button" class="btn btn-primary" onclick="editDocument()" href="#">Edit Document</a>
<a type="button" class="btn btn-primary" onclick="deleteDocument()" href="#">Delete
    Document</a>
<a type="button" class="btn btn-primary" onclick="contractByDocument()" style="background-color:rgb(0, 205, 144)"
    href="#">Get
    contract by Document</a>
<a type="button" class="btn btn-primary" style="background-color:mediumblue"
    href="/generateDocumentsOfEmploymentDocument">Insert
    Document of Employment
    Document</a>
<a type="button" class="btn btn-primary" style="background-color:mediumblue;" href="/documentOfEmploymentDocuments">View Documents
    of Document of Employment
    Documents</a>
<br><br>

<div> Selected document of employment: <h5 id="selectedDocument"></h5> </div>

<table class="table" id="dataTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Institution Type</th>
            <th scope="col">Institution ID</th>
            <th scope="col">Contract Type</th>
            <th scope="col">Contract Year</th>
            <th scope="col">Contract ID</th>
            <th scope="col">Datum vazenja od: </th>
            <th scope="col">Datum vazenja do: </th>
            <!-- <th scope="col">Edit</th> -->
            <!-- <th scope="col">View Employee Contract History</th> -->
            <!-- <th scope="col">Delete</th> -->
        </tr>
    </thead>
    <tbody>
        <% documents.forEach(function(document, index) { %>
        <tr>
            <td><strong><%= index+1 %></strong></td>
            <td><%= document.TIP_UST %></td>
            <td><%= document.VU_IDENTIFIKATOR %></td>
            <td><%= document.VD_OZNAKA %></td>
            <td><%= document.UG_GODINA %></td>
            <td><%= document.UG_BROJ_UGOVORA %></td>
            <td><%= moment(document.UG_DATUM).format('DD/MM/YYYY') %></td>
            <td><%= moment(document.UG_DATUM_VAZENJA).format('DD/MM/YYYY') %></td>
            <!-- <td><a type="button" class="btn btn-warning"
                    href="/editEmployee/<%= document.TIP_UST %>/<%= document.VU_IDENTIFIKATOR %>/<%= document.ZAP_REDNI_BROJ %>">Edit
                </a>
            </td> -->
            <!-- <td><a type="button" class="btn btn-warning"
                    href="/getContractHistoryByEmployeeId/<%= document.TIP_UST %>/<%= document.VU_IDENTIFIKATOR %>/<%= document.ZAP_REDNI_BROJ %>">View
                    Employee Contract History
                </a>
            </td> -->
            <!-- <td><a type="button" class="btn btn-danger" href="/deleteEmployee/<%= document.ZAP_REDNI_BROJ %>"
                    onClick="return confirm('This will delete all cities of this state, are you sure you want proceed!');">Delete</a>
            </td> -->
        </tr>
        <% }); %>
    </tbody>
</table>


<script>

    var id = null;

    run();
    document.getElementById('dataTable').addEventListener("click", run, false);
    document.getElementById('selectedDocument').innerHTML = "None!";

    function run() {
        var t = document.getElementById('dataTable');
        t.onclick = function(event) {
            event = event;
            var target = event.target;
            while (target && target.nodeName != 'TR') {
                target = target.parentElement; 
            }

            var cells = target.cells;

            if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                return;
            }

            if (id == cells[5].innerHTML) {
                id = null;
                document.getElementById('selectedDocument').innerHTML = "None!";
            } else {
                id = cells[5].innerHTML;
                document.getElementById('selectedDocument').innerHTML = "ID " + cells[5].innerHTML;
            }
        }
    }

    $("#dataTable tr").click(function(){
        $(this).siblings().removeClass('active');
        $(this).toggleClass('active')
    });

    function contractByDocument() {
        link = "/getContractsByDocuments/" + window.id;
        if (window.id) {
            window.location = link;
        } else {
            return false;
            // window.location = "/getDocumentOfEmployement";
        }
    }
    function editDocument() {
        link = "/editDocumentById/<%= document.TIP_UST %>/<%= document.VU_IDENTIFIKATOR %>/<%= document.VD_OZNAKA %>/<%= document.UG_GODINA %>/" + window.id;
        if (window.id) {
            window.location = link;
        } else {
            return false;
            // window.location = "/getDocumentOfEmployement";
        }
    }
    function deleteDocument() {
        link = "/deleteDocumentById/" + window.id;
        if (window.id) {
            confirm('This will delete the entire institution. Are you sure you want proceed?');
            window.location = link;
        } else {
            window.location = "/getDocumentOfEmployement/<%= document.UG_BROJ_UGOVORA %>";
        }
    }
</script>


<% } %>

<%- include('footer') %>