<%- include('header') %>


<br> <h5>Editing course: <%= course.NP_NAZIV_PREDMETA  %> </h5> <br>
<form method="post"
    action="/editCourse/<%= course.TIP_UST %>/<%= course.VU_IDENTIFIKATOR %>/<%= course.NP_PREDMET %>/<%= course.NP_VERZIJA %>">
    <div class="form-group">
        <label for="exampleInputEmail1">Course Name</label>
        <input type="text" class="form-control" id="courseName" name="courseName"
            value="<%= course.NP_NAZIV_PREDMETA  %>">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('footer') %>