<%- include('header') %>

    <form method="post" action="/editInstitutionById/<%= institution.VU_IDENTIFIKATOR %>">
        <div class="form-group">
            <label for="stateId">State</label>
            <select class="custom-select" id="stateId" name="stateId" required>
                <% states.forEach(function(state, index) { %>
                    <%if (state.DR_IDENTIFIKATOR === institution.DR_IDENTIFIKATOR) { %>
                        <option selected value="<%= state.DR_IDENTIFIKATOR %>"><%= state.DR_NAZIV %></option>
                    <% } else { %>  
                        <option value="<%= state.DR_IDENTIFIKATOR %>"><%= state.DR_NAZIV %></option>
                    <% } %>
                <% }); %>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Institution name</label>
            <input type="text" class="form-control" id="institutionName" name="institutionName" value="<%= institution.VU_NAZIV %>">
        </div>
        <div class="form-group">
            <label for="institutionType">Institution type</label>
            <select class="custom-select" id="institutionType" name="institutionType" required>
                <% types.forEach(function(type, index) { %>
                    <%if (type.TIP_UST === institution.TIP_UST) { %>
                        <option selected value="<%= type.TIP_UST %>"><%= type.TIP_NAZIV %></option>
                    <% } else { %>  
                        <option value="<%= type.TIP_UST %>"><%= type.TIP_NAZIV %></option>
                    <% } %>
                <% }); %>
            </select>
            <label for="ownershipType">Ownership type</label>
            <select class="custom-select" id="ownershipType" name="ownershipType" required>
                <% ownerships.forEach(function(own, index) { %>
                    <%if (own.VV_OZNAKA === institution.VV_OZNAKA) { %>
                        <option selected value="<%= own.VV_OZNAKA %>"><%= own.VV_NAZIV %></option>
                    <% } else { %>  
                        <option value="<%= own.VV_OZNAKA %>"><%= own.VV_NAZIV %></option>
                    <% } %>
                <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<%- include('footer') %>