<%- include('header') %>

<% if (employees.length === 0) { %>
<div class="alert alert-info" role="alert">
    <p>There are no institutions to show, click <a href="/addEmployee">here</a> to add an institution.</p>
</div>
<% } else { %>
<br>
<br><br>
<a type="button" class="btn btn-primary" href="/addEmployee/<%= employee.VU_IDENTIFIKATOR %>">Add Employee</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Institution Type</th>
            <th scope="col">Institution ID</th>
            <th scope="col">Employee Number</th>
            <th scope="col">Employee Last Name</th>
            <th scope="col">Employee Middle letter</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% employees.forEach(function(employee, index) { %>
        <tr>
            <td><strong><%= index+1 %></strong></td>
            <td><%= employee.TIP_UST %></td>
            <td><%= employee.VU_IDENTIFIKATOR %></td>
            <td><%= employee.ZAP_REDNI_BROJ %></td>
            <td><%= employee.ZAP_PREZIME %></td>
            <td><%= employee.ZAP_SREDNJE_SLOVO %></td>
            <td><%= employee.ZAP_IME %></td>
            <td><a type="button" class="btn btn-warning"
                    href="/editEmployee/<%= employee.TIP_UST %>/<%= employee.VU_IDENTIFIKATOR %>/<%= employee.ZAP_REDNI_BROJ %>">Edit
                </a>
            </td>
            <td><a type="button" class="btn btn-danger" href="/deleteEmployee/<%= employee.ZAP_REDNI_BROJ %>"
                    onClick="return confirm('This will delete all cities of this state, are you sure you want proceed!');">Delete</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } %>

<%- include('footer') %>