<%- include('header') %>

<% if (states.length === 0) { %>
<div class="alert alert-info" role="alert">
    <p>There are no states to show, click <a href="/addState">here</a> to add a new state.</p>
</div>
<% } else { %>
<br>

<script>
    function institutionsByState() {
        var id = prompt("Please enter state ID:");
        link = "/getInstitutionsByStateId/" + id;
        if (id) {
            window.location = link;
        } else {
            window.location = "/getAllStates";
        }
    }

    function editState() {
        var id = prompt("Please enter state ID:");
        link = "/editStateById/" + id;
        if (id) {
            window.location = link;
        } else {
            window.location = "/getAllStates";
        }
    }

    function deleteState() {
        var id = prompt("Please enter state ID:");
        link = "/deleteStateById/" + id;
        if (id) {
            confirm('This will delete all institutions of this state, are you sure you want proceed?');
            window.location = link;
        } else {
            window.location = "/getAllStates";
        }
    }
</script>

<a type="button" class="btn btn-primary" href="/addState">Add new state</a>
<a type="button" class="btn btn-primary" onclick="institutionsByState()" style="background-color:lightseagreen"
    href="#">Get institutions by state</a>
<a type="button" class="btn btn-primary" onClick="editState()" href="#">Edit state</a>
<a type="button" class="btn btn-primary" onClick="deleteState()" href="#">Delete state</a>
<a type="button" class="btn btn-primary" style="background-color:mediumblue" href="/generateStatesDocument">Generate
    state docs</a>
<a type="button" class="btn btn-primary" style="background-color:mediumblue" href="/statesDocuments">View state docs</a>

<br><br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">State ID</th>
            <th scope="col">State Name</th>
            <th scope="col">Foundation date</th>
        </tr>
    </thead>
    <tbody>
        <% states.forEach(function(state, index) { %>
        <tr>
            <td><strong><%= index+1 %></strong></td>
            <td><%= state.DR_IDENTIFIKATOR %></td>
            <td><%= state.DR_NAZIV %></td>
            <td><%= moment(state.DR_DATUM_OSNIVANJA).format('DD/MM/YYYY');%></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } %>

<%- include('footer') %>